<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/payment/payment-gateway.css">
<!-- script -->
<script src="/public/js/payment/gatway-checkout.js"></script>

<!-- body -->
<div class="gateway">
	<div class="container">
		<div class="row">					
					<br/>
					<div class="row">
						<div class="col-md-8 col-md-offset-2" id="payment-summary">
							<div class="panel panel-default">
								<div class="panel-heading" id="profile-head">
									<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="profile-panel">
										<h2 class="panel-title">
											Payment Summary
										</h2>
									</a>
								</div>

								<div id="profile-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="profile-head">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Price</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-inr"></i>
												{{total}}
											</div>
										</div>

										<!-- div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Promo Discount</label></div>
											<div class="col-md-4 col-md-offset-1">$ 10</div>
										</div -->

										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Taxes (@7%)</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-inr"></i>
												{{tax}}
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Total Price</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-inr"></i>
												{{net}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-4">
							<form method="post" action="/payment/checkout" >
								<input type="submit" class="btn btn-default" value="Order">
							</form>	
						</div>
					</div>
					
					
				</article>

			</div>
		</div>
	</div>
</div>